.login {
	@apply animate-fade relative;
	.menu {
		@apply relative flex items-center cursor-pointer;
		svg {
			@apply fill-white;
			font-size: 24px;
		}
		h2 {
			@apply text-white ml-2 mr-1;
			font-size: 16px;
		}
		.image {
			@apply relative w-11 h-11 mr-1 rounded-full;
			width: 44px;
			height: 44px;
			img {
				@apply rounded-full;
			}
		}
		&:hover {
			svg {
				@apply fill-yellow-700;
			}
			.image {
				border: 2px solid #f5c521;
			}
		}
		&:active {
			svg {
				transition: all 0.1s ease-in-out;
				transform: translateY(3px);
			}
		}
	}
	.drop {
		@apply absolute  bg-white animate-fade z-10;
		padding: 8px;
		box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.514);
		top: calc(100% + 15px);
		display: none;
		border-radius: 10px;
		-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none; /* Safari */
		-khtml-user-select: none; /* Konqueror HTML */
		-moz-user-select: none; /* Old versions of Firefox */
		-ms-user-select: none; /* Internet Explorer/Edge */
		user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
		.box {
			@apply flex items-center cursor-pointer px-2 py-1 rounded-lg;
			padding: 4px 8px;
			&:hover {
				background-color: #f5c42169;
			}
			div {
				@apply mr-1;
				svg {
					@apply text-black;
					font-size: 22px;
				}
			}
			span {
				@apply font-medium;
				font-size: 14px;
			}
		}
		&.active {
			display: block;
		}
	}
}
