.button {
  padding: 10px 40px;
  font-size: 15px;
  

  &:hover {
    box-shadow: 1px 1px 5px rgb(0 0 0 / 76.7%);
  }

  &:active {
    transform: translateY(1px);
    transition: all 0.3s ease-in-out;
  }

  &:disabled,
  &[disabled]{
    background-color: rgb(55 55 250);
    pointer-events: none;
  }

  @apply btn-primary;
}

.smallbutton {
  svg {
    @apply h-6 w-6;
  }

  @apply btn-primary p-2;
}

.UploadField {
  .uploadFlex {
    .uploadImageContainer {
      width: 96px;
      height: 96px;

      img {
        @apply image-like-bg rounded-md;
      }

      span {
        @apply animate-fade;
      }

      @apply shrink-0 relative;
    }

    .content {
      .error {
        @apply relative -bottom-3;
      }

      label {
        @apply font-extrabold text-black block mb-4;
      }

      input {
        font-size: 14px;

        @apply block w-full border-0  text-black file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-base file:font-semibold file:bg-primary  file:text-white transition-opacity;
      }

      &:hover {
        input {
          @apply opacity-100;
        }
      }

      @apply block mr-6;
    }

    @apply flex;
  }

  @apply relative;
}

.common {
  label {
    @apply block font-extrabold text-black;
  }

  @apply relative 
    transition-colors focus-within:border-primary;
}

.field {
  input {
    padding: 0 12px;
    height: 44px;

    @apply border border-gray-300 rounded-lg focus:border-primary
      bg-transparent text-black font-medium
      w-full m-0;
  }

  @apply text-left mb-10 mt-3;
}

.error {
  font-size: 14px;

  @apply absolute -bottom-6 left-0  w-full text-primary;
}

.editorWrapper {
  .wrapper {
    .toolbar {
      div {
        div {
          @apply outline-border-none rounded-lg shadow-none transition-colors border-gray-100 bg-gray-100 hover:bg-white mx-1.5;
        }

        @apply m-0;
      }

      @apply mt-4 outline-border-none rounded-t-lg mb-0 bg-primary  p-3;
    }

    .editor {
      &:focus-within {
        @apply border-primary;
      }

      @apply h-40 border rounded-b-lg cursor-text border-gray-100 px-4 text-black overflow-hidden;
    }
  }

  @apply border-0 mt-10;
}
