.root {
	@apply relative z-1  w-full overflow-hidden;

	.bgtext {
		@apply absolute z-1 font-bold uppercase text-black;
		filter: blur(5px);
		font-size: 200px;
		line-height: 444px;
		opacity: 0.2;
		left: 5%;
		top: 0%;
		letter-spacing: 0.1em;
		-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none; /* Safari */
		-khtml-user-select: none; /* Konqueror HTML */
		-moz-user-select: none; /* Old versions of Firefox */
		-ms-user-select: none; /* Internet Explorer/Edge */
		user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
	}
	.title {
		@apply relative text-right mb-14;
		h1 {
			@apply text-5xl uppercase text-black font-black;
			span {
				@apply text-5xl uppercase text-primary font-black;
			}
		}
	}
	.row {
		@apply relative text-center z-2 items-center flex-wrap;
		.container {
			z-index: 2;
			max-width: 70rem;
			margin: 0 auto;
			.item {
				@apply mb-12;
				border-radius: 5px;
				box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
				&.active {
					.question {
						@apply bg-primary;
						svg {
							transform: rotate(180deg);
						}
					}

					.answer {
						@apply max-h-96 h-auto p-6 text-left;
						background-color: white;
						border-radius: 5px;
						transition: all 0.5s cubic-bezier(1, 0, 1, 0);
					}
				}
				&:last-child {
					margin-bottom: 0.5rem;
				}
				.question {
					@apply flex p-6 items-center gap-4 justify-between cursor-pointer;
					border-radius: 5px;
					background:#302f2f;
					.content {
						@apply flex items-center;
						.count {
							@apply bg-primary h-10 w-10 flex items-center justify-center p-2 mr-4;
							border-radius: 50%;
							p {
								@apply text-white font-semibold;
								line-height: 24px;
							}
						}
						h2 {
							@apply text-white text-left font-semibold  mr-4;
							font-size: 20px;
						}
					}
					svg {
						@apply fill-white;
						font-size: 20px;
						transition: all 0.5s ease-in-out;
					}
				}
				.answer {
					@apply max-h-0 overflow-hidden;

					transition: all 0.5s cubic-bezier(0, 1, 0, 1);
					p {
						font-size: 1.5rem;
						line-height: 2;
						animation: fadeIn 0.2s linear;
						color: #302f2f;
					}
				}
			}
		}
	}
}
@media (max-width: 500px) {
	.root {
		.bgtext {
			@apply absolute z-1 font-bold uppercase text-black;
			filter: blur(5px);
			font-size: 100px;
			display: none;
			line-height: 444px;
			opacity: 0.2;
		}
		.title {
			h1 {
				font-size: 38px;
				span {
					font-size: 38px;
				}
			}
		}
		.row {
			.container {
				.item {
					.question {
						.content {
							h2 {
								font-size: 15px;
							}
						}
					}
					.answer {
						p {
							font-weight: 500;
							font-size: 13px;
						}
					}
				}
			}
		}
	}
}
