.Portfolio {
	background-image: url('../../../assets/images/space_background3.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 150vh;
	position: relative;
	padding-top: 100px;
	width: 100%;
	margin: 0;
	z-index: 1;
	box-shadow: inset 0px 600px 400px black;
	.content {
		@apply z-3 flex justify-between;
		align-items: flex-end;
		width: 100%;
		.title {
			@apply relative text-left;
			h1 {
				@apply uppercase text-white font-black;
				font-size: 48px;
				line-height: 1;
				span {
					@apply uppercase text-primary font-black;
					font-size: 48px;
					line-height: 1;
				}
			}
		}
		.subtitle {
			@apply relative text-right;
			h2 {
				@apply text-white font-bold;
				font-size: 24px;
				span {
					@apply text-white font-normal;
					font-size: 20px;
				}
			}
		}
	}
	@keyframes animate {
		0% {
			opacity: 0;
			transform: scale(1);
		}
		25% {
			opacity: 1;
		}
		75% {
			opacity: 1;
		}
		100% {
			transform: scale(3);
		}
	}
	.clouds {
		@apply absolute bottom-0 left-0 h-full w-full overflow-hidden;
		pointer-events: none;
		.cloud {
			--i: '1';
			@apply absolute w-full bottom-0;
			height: auto;

			animation: animate calc(3s * var(--i)) linear infinite;
		}
	}
}
@media (max-width: 1300px) {
	.Portfolio {
		.content {
			display: block;
			.subtitle {
				@apply mt-5 text-left;
			}
		}
	}
}
@media (max-width: 600px) {
	.Portfolio {
		.content {
			.title {
				h1 {
					font-size: 38px;

					span {
						font-size: 38px;
					}
				}
			}
		}
	}
}
