.root {
	@apply relative w-full;
	height: 100vh;
	.wrapper {
		position: relative;
		padding-top: 150px;
		padding-bottom: 20px;
		h1 {
			@apply font-black;
			font-size: 30px;
		}
		p {
			@apply text-gray-800;
			margin-top: 10px;
			font-size: 17px;
		}
		b {
			margin-bottom: 20px;
		}
	}
}
