.menu {
	@apply animate-fade;
	.ul {
		@apply flex;
		li {
			@apply relative transition-colors;
			.item {
				@apply flex items-center  text-white mr-7   cursor-pointer;

				span {
					@apply text-white;
					letter-spacing: 1px;
					font-size: 14px;
					font-weight: 600;
				}
				span,
				svg {
					@apply transition-colors;
				}
			}
			&:hover {
				a {
					@apply text-yellow-700;
				}
				span {
					@apply text-yellow-700;
				}
			}
			&.active {
				a {
					span {
						@apply text-yellow-700;
					}
				}
				a {
					svg {
						@apply fill-yellow-700;
					}
				}
			}
		}
	}
}
@media (max-width: 1450px) {
	.menu {
		position: absolute;
		top: 90%;
		border-bottom: 5px solid var(--main-color);
		border-radius: 10px;
		display: none;
		transition: all 0.5s ease-in-out;
		background-color: white;
		box-shadow: 0px 5px 10px black;
		.ul {
			display: block;
			li {
				padding: 20px;
				text-align: center;
				.item {
					@apply text-black;
					span {
						@apply text-black font-bold;
						font-size: 14px;
					}
				}
			}
		}
		&.active {
			display: block;
		}
	}
}
