.menu {
  button {
    display: none;
  }

  .ul {
    li {
      .item {
        span {
          font-weight: 600;
          font-size: 14px;
          letter-spacing: 1px;

          @apply text-white;
        }

        svg {
          display: none;
        }

        span,
        svg {
          @apply transition-colors;
        }

        @apply flex items-center  text-white mr-7   cursor-pointer;
      }

      &:hover {
        a {
          @apply text-yellow-700;
        }

        span {
          @apply text-yellow-700;
        }
      }

      &.active {
        a {
          span {
            @apply text-yellow-700;
          }
        }

        a {
          svg {
            @apply fill-yellow-700;
          }
        }
      }

      @apply relative transition-colors;
    }

    @apply flex;
  }

  @apply animate-fade;
}

@media (width <= 1500px) {
  .menu {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    display: none;
    width: 100%;
    height: 100vh;
    background-color: white;
    transition: all 0.5s ease-in-out;

    button {
      display: block;

      svg {
        font-size: 40px;

        &:hover {
          color: red;
          transform: rotate(180deg);
          transition: all 0.5s ease-in-out;
        }
      }
    }

    .ul {
      display: block;

      li {
        padding: 15px;
        text-align: center;

        .item {
          svg,
          span {
            display: block;
            margin-right: 10px;
            font-size: 30px;

            &:hover {
              @apply text-yellow-700;
            }

            @apply text-black font-bold;
          }

          @apply text-black;
        }
      }
    }

    &.active {
      z-index: 100;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      overflow-y: hidden;
    }
  }
}
