.menu {
	@apply animate-fade;
	button {
		display: none;
	}
	.ul {
		@apply flex;
		li {
			@apply relative transition-colors;
			.item {
				@apply flex items-center  text-white mr-7   cursor-pointer;

				span {
					@apply text-white;
					letter-spacing: 1px;
					font-size: 14px;
					font-weight: 600;
				}
				svg {
					display: none;
				}
				span,
				svg {
					@apply transition-colors;
				}
			}
			&:hover {
				a {
					@apply text-yellow-700;
				}
				span {
					@apply text-yellow-700;
				}
			}
			&.active {
				a {
					span {
						@apply text-yellow-700;
					}
				}
				a {
					svg {
						@apply fill-yellow-700;
					}
				}
			}
		}
	}
}
@media (max-width: 1450px) {
	.menu {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		z-index: 1;

		display: none;
		transition: all 0.5s ease-in-out;
		background-color: white;
		button {
			display: block;
			svg {
				font-size: 40px;
				&:hover {
					color: red;
					transition: all 0.5s ease-in-out;
					transform: rotate(180deg);
				}
			}
		}
		.ul {
			display: block;
			li {
				padding: 15px;
				text-align: center;
				.item {
					@apply text-black;
					svg,
					span {
						display: block;
						margin-right: 10px;
						@apply text-black font-bold;
						font-size: 30px;
						&:hover {
							@apply text-yellow-700;
						}
					}
				}
			}
		}
		&.active {
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			overflow-y: hidden;
			z-index: 100;
		}
	}
}
