.arrow {
  padding: 8px;
  font-size: 24px;
  transition: all 0.1s ease-in-out;

  &.left {
    right: 96px;

    &:hover {
      @apply bg-opacity-90;
    }

    &:active {
      transform: translateY(3px);
    }

    @apply bg-white bg-opacity-60 text-gray-800;
  }

  &.right {
    right: 32px;

    &:hover {
      @apply bg-opacity-90;
    }

    &:active {
      transform: translateY(3px);
    }
  }

  @apply flex items-center justify-center rounded-full  bg-primary bg-opacity-60  text-white  animate-fade absolute z-20 bottom-8;
}
