.container {
	@apply relative flex items-center;
	.text {
		@apply text-left relative mr-6;
		h1 {
			@apply text-white;
			font-size: 15px;
			font-weight: 700;
		}
		.onlineContainer {
			display: flex;
			align-items: center;
			p {
				@apply text-gray-300;
				font-size: 13px;
				font-weight: 300;
				margin-right: 5px;
			}
			svg {
				fill: rgb(0, 182, 0);
				font-size: 16px;
			}
		}
	}
	.links {
		@apply relative flex-center-between;
		a {
			@apply relative;
			width: 30px;
			height: 30px;
			margin-right: 10px;
			transition: all 0.2s ease-in-out;
			border-radius: 50%;
			&:last-child() {
				margin-right: 0px;
			}
			&:hover {
				transform: translateY(2px);
				box-shadow: 0px 1px 5px white;
			}
		}
	}
}
