.categories {
  position: fixed;
  right: 100px;
  top: 190px;
  z-index: 4;
  border-radius: 15px;
  background: rgb(0 0 0 / 52.1%);
  backdrop-filter: blur(11px);

  .showButton {
    .image {
      margin: 0 auto;
      width: 64px;
      height: 64px;
      transition: all 0.2s ease-in-out;

      svg {
        font-size: 24px;

        @apply fill-white;
      }

      @apply relative  rounded-full flex items-center justify-center bg-primary p-2;
    }

    h3 {
      font-size: 12px;

      @apply text-center text-white my-3  font-medium;
    }

    &:hover {
      .image {
        box-shadow: inset 1px 1px 10px rgb(0 0 0 / 54.8%),
          0 1px 5px rgb(255 255 255);
      }

      hr {
        width: 56px;
      }
    }

    &:active {
      .image {
        background-color: rgb(0 0 175);

        img {
          transform: translateY(2px);
          transition: all 0.2s ease-in-out;
        }
      }
    }

    @apply p-3 cursor-pointer;
  }

  ul {
    .li {
      svg {
        margin: 0 auto;
        font-size: 24px;
        background-color: rgb(128 128 128 / 67.1%);

        &:hover {
          fill: red;
          transform: rotate(180deg);
          transition: all 0.5s ease-in-out;

          @apply bg-gray-300;
        }

        @apply fill-white p-1  rounded-full;
      }

      span {
        @apply text-white font-medium text-link;
      }

      .image {
        margin: 0 auto;
        width: 64px;
        height: 64px;
        transition: all 0.2s ease-in-out;

        @apply relative  rounded-full flex items-center justify-center bg-primary p-2;
      }

      h3 {
        font-size: 12px;

        @apply text-center text-white my-3  font-medium;
      }

      hr {
        margin: 0 auto;
        transition: all 0.2s ease-in-out;

        @apply text-yellow-300 w-10 text-center;
      }

      &:hover {
        .image {
          box-shadow: inset 1px 1px 10px rgb(0 0 0 / 54.8%),
            0 1px 5px rgb(255 255 255);
        }

        hr {
          width: 56px;
        }
      }

      &:active {
        .image {
          background-color: rgb(0 0 175);

          img {
            transform: translateY(2px);
            transition: all 0.2s ease-in-out;
          }
        }
      }

      &:last-child {
        @apply mb-3;
      }

      &.active {
        hr {
          width: 80px;
        }

        .image {
          box-shadow: inset 1px 1px 10px rgb(0 0 0 / 54.8%),
            0 1px 5px rgb(255 255 255);
          background-color: rgb(0 0 180);
        }
      }

      @apply relative cursor-pointer mb-7 text-center;
    }

    @apply relative p-3 text-center;
  }
}

@media (width <= 830px) {
  .categories {
    right: 30px;

    .showButton {
      .image {
        width: 50px;
        height: 50px;

        svg {
          font-size: 30px;
        }
      }

      h3 {
        font-size: 10px;
      }

      @apply p-2;
    }

    ul {
      .li {
        .image {
          width: 50px;
          height: 50px;
        }

        h3 {
          font-size: 10px;
        }

        @apply relative cursor-pointer mb-3 text-center;
      }

      @apply relative p-2 text-center;
    }
  }
}
