.root {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0 0 0 / 60%);
  opacity: 0;
  pointer-events: none;

  .content {
    border-radius: 10px;
    padding: 20px;
    width: 50vw;
    background-color: white;
  }
}

.rootActive {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0 0 0 / 60%);
  opacity: 1;
  transition: 0.2s ease-in;

  .content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 20px;
    width: 40vw;
    background-color: white;

    span {
      position: absolute;
      right: -50px;
      top: 5px;
      cursor: pointer;
      transition: transform 0.1s ease-in-out 0s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

@media (width <= 1000px) {
  .rootActive {
    .content {
      width: 60vw;
    }
  }
}

@media (width <= 700px) {
  .rootActive {
    .content {
      overflow-y: scroll;
      width: 90vw;
      height: 500px;

      &::-webkit-scrollbar {
        width: 0.8rem;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 5rem;
        background: var(--primary-color);
      }

      span {
        position: absolute;
        right: 0;
        top: -50px;
        cursor: pointer;
        transition: transform 0.1s ease-in-out 0s;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
