/* React Select */
.custom-select {
  &__control {
    margin-bottom: 25px !important;
    border: 0 !important;
    border-bottom: 3px solid var(--primary-color) !important ;
    width: 300px !important;
    box-shadow: none !important;

    &--menu-is-open {
      border-color: var(--primary-color) !important;
    }
  }

  &__value-container {
    padding: 5 !important;
    color: black !important;
    cursor: text !important;
  }

  &__input-container {
    color: black !important;
  }

  &__indicator-separator {
    display: none !important;
  }

  &__indicators {
    cursor: pointer !important;
  }

  &__indicator {
    color: black !important;

    &:hover {
      color: var(--primary-color) !important;
    }
  }

  &__multi-value {
    border-radius: 0.5rem !important;
    padding: 3px !important;
    max-width: 100px;
    background-color: var(--primary-color) !important;
  }

  &__multi-value__label {
    font-size: 70% !important;
    color: white !important;
  }

  &__multi-value__remove {
    color: white !important;

    &:hover {
      color: red !important;
      background-color: transparent !important;
    }
  }

  &__menu {
    border: 0 !important;
    box-shadow: 1px 5px 7px rgb(0 0 0 / 24.7%) !important;
    color: black !important;
    background-color: white !important;
  }

  &__option {
    cursor: pointer !important;

    &--is-focused {
      color: white !important;
      background-color: var(--primary-color) !important;
    }
  }

  &__menu {
    @apply animate-scaleIn;
  }

  &-container {
    div {
      outline: none !important;
      box-shadow: none !important;
    }

    .form-control__control {
      border-color: var(--primary-color) !important;
      box-shadow: none !important;
      transition-property: all !important;
      transition-duration: 200ms !important;
      transition-timing-function: ease-in-out !important;
    }

    .form-control__indicators {
      @apply cursor-pointer;
    }

    &:hover,
    &--menu-is-open {
      border-color: var(--primary-color) !important;
    }
  }
}
