.container {
  .form {
    padding: 10px;

    h1 {
      color: #00f;
    }

    h3 {
      letter-spacing: -1px;

      @apply bg-transparent text-left font-bold text-black;
    }

    .button {
      text-align: center;

      button {
        width: 100%;

        &:hover {
          filter: drop-shadow(0 5px 5px #0000ffa4);
        }

        &:active {
          background-color: darken(#00f, 5%);
          transform: translateY(1px);
        }
      }
    }

    p {
      font-size: 14px;
      letter-spacing: normal;
      cursor: pointer;

      a {
        letter-spacing: normal;

        @apply text-primary text-link;
      }

      @apply font-normal mt-2 text-black text-center;
    }
  }

  @apply flex justify-center items-center;
}

.containerReg {
  .form {
    padding: 10px;

    h1 {
      color: #00f;
    }

    h3 {
      letter-spacing: -1px;

      @apply bg-transparent text-left font-bold text-black;
    }

    .button {
      text-align: center;

      button {
        width: 100%;

        &:hover {
          filter: drop-shadow(0 5px 5px #0000ffa4);
        }

        &:active {
          background-color: darken(#00f, 5%);
          transform: translateY(1px);
        }
      }
    }

    p {
      font-size: 14px;
      letter-spacing: normal;
      cursor: pointer;

      a {
        letter-spacing: normal;

        @apply text-primary text-link;
      }

      @apply font-normal mt-2 text-black text-center;
    }
  }

  @apply flex justify-center items-center;
}

@media (width <= 700px) {
  .containerReg {
    margin-top: 270px;

    .form {
      h1 {
        font-size: 24px;
      }

      h3 {
        font-size: 15px;
      }
    }

    p {
      font-size: 8px;
    }
  }
}
