.root {
  .wrapper {
    margin-top: 210px;

    .title {
      h1 {
        font-size: 30px;

        @apply text-black font-black;
      }

      @apply relative mb-2;
    }

    hr {
      @apply text-gray-500;
    }

    .container {
      .images {
        .banner {
          position: relative;
          overflow: hidden;
          margin-right: 10px;
          border-radius: 6px;
          width: 450px;
          height: 300px;
          box-shadow: 0 1px 5px black;
          aspect-ratio: 1;

          img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          &:last-child {
            margin-right: 0;
          }

          @apply relative  rounded-xl;
        }

        .adds {
          img {
            padding: 8px;

            @apply rounded-xl;
          }

          @apply relative mt-6 flex items-center justify-evenly;
        }

        @apply relative pb-7 flex-center-between;
      }

      .text {
        margin-top: 20px;

        p {
          font-size: 24px;
          line-height: 1.625;

          @apply text-gray-900 text-left font-semibold;
        }

        a {
          span {
            @apply text-black font-medium;
          }

          svg {
            margin-right: 10px;
            transition: all 0.2s ease-in-out;
          }

          &:hover {
            svg {
              transform: translateX(-2px);
            }
          }

          @apply text-link mt-7 text-primary flex items-center;
        }
      }

      @apply py-10;
    }

    .info {
      .box {
        svg {
          margin-right: 10px;
          font-size: 24px;
        }

        h2,
        span,
        p {
          font-size: 20px;

          @apply text-black font-normal;
        }

        @apply flex items-center mr-4;
      }

      .eye {
        svg {
          fill: blue;
        }
      }

      @apply flex items-center mt-2;
    }

    @apply relative;
  }

  @apply relative h-screen w-full;
}

@media (width <= 1000px) {
  .root {
    .wrapper {
      .container {
        .images {
          .banner {
            margin-bottom: 20px;
            width: 300px;
            height: 200px;
          }

          @apply flex-wrap justify-center;
        }
      }
    }
  }
}

@media (width <= 600px) {
  .root {
    .wrapper {
      margin-top: 200px;

      .title {
        h1 {
          font-size: 25px;

          @apply text-black font-black;
        }

        @apply relative mb-2;
      }

      .info {
        .box {
          svg {
            margin-right: 10px;
            font-size: 20px;
          }

          h2,
          span,
          p {
            font-size: 17px;

            @apply text-black font-normal;
          }

          @apply flex items-center mr-4;
        }

        .eye {
          svg {
            fill: blue;
          }
        }

        @apply flex items-center mt-2;
      }

      .container {
        display: block;
        text-align: left;

        .images {
          .banner {
            height: 250px;
          }
        }

        .text {
          margin-bottom: 40px;

          p {
            font-size: 18px;
          }
        }
      }
    }
  }
}
