.root {
	@apply relative h-screen w-full;

	.wrapper {
		@apply relative;
		margin-top: 150px;
		.title {
			@apply relative mb-2;
			h1 {
				@apply text-black font-black;
				font-size: 30px;
			}
		}
		hr {
			@apply text-gray-500;
		}
		.container {
			@apply flex items-stretch mt-8;
			.images {
				@apply relative w-1/2 mr-16;
				.banner {
					box-shadow: 0 1px 32px rgba(0, 0, 0, 0.32),
						0 1px 18px rgba(0, 0, 0, 0.44);
					@apply relative w-full   rounded-xl;
					height: 384px;
					img {
						@apply rounded-xl;
					}
				}
				.adds {
					@apply relative mt-6 flex items-center justify-evenly;
					img {
						@apply rounded-xl;
						padding: 8px;
					}
				}
			}

			.text {
				p {
					@apply text-gray-900 max-w-3xl  text-2xl font-semibold;
					line-height: 1.625;
				}
				a {
					@apply text-link mt-7 text-primary flex items-center;
					span {
						@apply text-black font-medium;
					}
					svg {
						margin-right: 10px;
						transition: all 0.2s ease-in-out;
					}
					&:hover {
						svg {
							transform: translateX(-2px);
						}
					}
				}
			}
		}

		.info {
			@apply flex items-center mt-2;
			.box {
				@apply flex items-center mr-4;
				svg {
					margin-right: 10px;
					font-size: 24px;
				}

				h2,
				span,
				p {
					@apply text-black font-normal text-xl;
				}
			}
			.eye {
				svg {
					fill: blue;
				}
			}
		}
	}
}
