.root {
  .wrapper {
    margin-top: 210px;

    .title {
      h1 {
        font-size: 30px;

        @apply text-black font-black;
      }

      @apply relative mb-2;
    }

    hr {
      @apply text-gray-500;
    }

    .container {
      .images {
        display: flex;
        width: 100%;

        .card {
          position: relative;
          flex-grow: 1;
          margin-bottom: 0;
          padding: 16px;
          width: 50%;
          max-width: 50%;


          .banner {
            position: relative;
            overflow: hidden;
            border-radius: 6px;
            width: 100%;
            box-shadow: 0 1px 5px black;
            aspect-ratio: 1;
  
            img {
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
  
            &:last-child {
              margin-right: 0;
            }
  
            @apply relative  rounded-xl;
          }

          @media (width <= 1000px) and (width >= 500px) {
            width: 50%;
            max-width: 50%;
          }

          @media (width < 500px)  {
            margin-bottom: 16px;
            width: 100%;
            max-width: 100%;
          }
        }

        

        .adds {
          img {
            padding: 8px;

            @apply rounded-xl;
          }

          @apply relative mt-6 flex items-center justify-evenly;
        }
        

        @media (width > 500px)  {
          align-items: center;
          flex-wrap: wrap;
          margin-top: 24px;
          margin-right: -16px;
          margin-left: -16px;
        }

        @media (width < 500px)  {
          display: block;
        }

        @apply relative pb-7;
      }

      .text {
        margin-top: 20px;

        p {
          font-size: 24px;
          line-height: 1.625;

          @apply text-gray-900 text-left font-semibold;
        }

        a {
          span {
            @apply text-black font-medium;
          }

          svg {
            margin-right: 10px;
            transition: all 0.2s ease-in-out;
          }

          &:hover {
            svg {
              transform: translateX(-2px);
            }
          }

          @apply text-link mt-7 text-primary flex items-center;
        }
      }

      @apply py-10;
    }

    .info {
      .box {
        svg {
          margin-right: 10px;
          font-size: 24px;
        }

        h2,
        span,
        p {
          font-size: 20px;

          @apply text-black font-normal;
        }

        @apply flex items-center mr-4;
      }

      .eye {
        svg {
          fill: blue;
        }
      }

      @apply flex items-center mt-2;
    }

    @apply relative;
  }

  @apply relative h-screen w-full;
}



@media (width <= 600px) {
  .root {
    .wrapper {
      margin-top: 200px;

      .title {
        h1 {
          font-size: 25px;

          @apply text-black font-black;
        }

        @apply relative mb-2;
      }

      .info {
        .box {
          svg {
            margin-right: 10px;
            font-size: 20px;
          }

          h2,
          span,
          p {
            font-size: 17px;

            @apply text-black font-normal;
          }

          @apply flex items-center mr-4;
        }

        .eye {
          svg {
            fill: blue;
          }
        }

        @apply flex items-center mt-2;
      }

      .container {
        display: block;
        text-align: left;

        .text {
          margin-bottom: 40px;

          p {
            font-size: 18px;
          }
        }
      }
    }
  }
}
