.root {
	@apply relative w-full z-1;
	overflow: hidden;
	.bgtext {
		@apply absolute z-1 font-normal uppercase text-gray-700;
		opacity: 0.2;
		font-size: 364px;
		line-height: 444px;
		/* identical to box height */
		right: -4%;
		top: 10%;
		letter-spacing: 0.1em;
	}
	.content {
		@apply z-2;
		.title {
			h1 {
				@apply uppercase text-black font-black;
				font-size: 48px;
				line-height: 1;
				span {
					@apply text-primary uppercase font-black;
					font-size: 48px;
					line-height: 1;
				}
			}
		}
		.wrapper {
			@apply relative w-full h-full block;
			.catalog {
				@apply z-3 relative;
				height: 100%;
				width: 70%;
				button {
					@apply absolute bg-white text-center;
					height: 176px;
					width: 176px;
					padding: 40px;
					top: 30%;
					right: 40px;
					border-radius: 50%;
					box-shadow: 0px 10px 10px black;
					div {
						@apply relative;
						h1 {
							@apply font-bold;
							font-size: 36px;
							line-height: 40px;
							transition: all 0.3s ease-in-out;
							span {
								@apply font-normal;
								font-size: 24px;
							}
						}
						svg {
							@apply absolute;
							top: 20px;
							left: 25px;
							font-size: 50px;
							opacity: 0;
							transform: translateY(-5px);
							transition: all 0.3s ease-in-out;
						}
					}
					&:hover {
						box-shadow: 0px 10px 10px blue;
						div {
							h1 {
								opacity: 0;
								transform: translateY(5px);
							}
							svg {
								opacity: 1;
								transform: translateY(0);
								fill: blue;
							}
						}
					}
				}
			}
			.container {
				@apply flex items-center justify-evenly bottom-0 mt-10 z-3;

				h2 {
					@apply text-left font-bold;
					font-size: 20px;
					margin-right: 40px;
				}
				.flexbox {
					@apply flex items-center justify-center;
					.box {
						@apply block  bg-white text-center  mr-6;
						height: 96px;
						padding: 12px;
						box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.459);
						&:last-child {
							@apply mr-0;
						}
						cursor: pointer;

						border-radius: 10px;

						h3 {
							@apply text-center font-bold mt-2;
							font-size: 16px;
						}
						img {
							@apply block text-center;
							margin: 0 auto;
						}
						&.active {
							box-shadow: 0px 6px 4px rgb(4, 0, 255);
						}
					}
				}
			}
		}
	}
}
@media (max-width: 1350px) {
	.root {
		.bgtext {
			font-size: 264px;
			right: -10%;
		}
		.content {
			.title {
			}
			.wrapper {
				.container {
					display: block;
					text-align: left;
					h2 {
						margin-bottom: 30px;
						margin-right: 0px;
					}
					.flexbox {
						@apply flex items-center justify-start;
					}
				}
			}
		}
	}
}
@media (max-width: 900px) {
	.root {
		.bgtext {
			font-size: 264px;
			right: -10%;
		}
		.content {
			.title {
				h1 {
					font-size: 38px;

					span {
						font-size: 38px;
					}
				}
			}
			.wrapper {
				.container {
					display: block;
					right: 0;
					bottom: -15%;
					h2 {
						margin-bottom: 30px;
						margin-right: 0px;
					}
				}
			}
		}
	}
}
@media (max-width: 700px) {
	.root {
		.bgtext {
			font-size: 164px;
			right: -10%;
		}
		.content {
			.catalog {
				margin: 0 auto;
				img {
					margin: 0 auto;
				}
			}

			.wrapper {
				.container {
					display: block;
					right: 0;
					bottom: -15%;
					h2 {
						margin-bottom: 30px;
						margin-right: 0px;
					}
				}
			}
		}
	}
}
@media (max-width: 500px) {
	.root {
		.bgtext {
			font-size: 100px;
			right: -10%;
			line-height: 1;
			top: 20%;
		}
		.content {
			.title {
				h1 {
					font-size: 30px;

					span {
						font-size: 30px;
					}
				}
			}
			.wrapper {
				.catalog {
					button {
						height: 100px;
						width: 100px;
						padding: 20px;
						div {
							h1 {
								font-size: 26px;
								line-height: 20px;
								span {
									@apply font-normal;
									font-size: 14px;
								}
							}
							svg {
								top: 5px;
								left: 11px;
								font-size: 40px;
							}
						}
					}
				}
				.container {
					@apply mt-16;
					.flexbox {
						display: block;
						z-index: 6;
						.box {
							@apply mr-0 mt-5;
						}
					}
				}
			}
		}
	}
}
