.Add {
  .content {
    .title {
      h1 {
        font-size: 48px;
        line-height: 1;

        span {
          font-size: 48px;
          line-height: 1;

          @apply uppercase text-primary font-black;
        }

        @apply uppercase text-black font-black;
      }

      @apply relative text-right;
    }

    .gallery {
      .item {
        margin: 5px;
        padding: 12px;

        h4 {
          margin: 0 auto;
          width: 112px;
          font-size: 16px;

          @apply font-bold;
        }

        .image {
          margin: 10px auto;
          width: 176px;
          height: 176px;

          @apply relative;
        }

        &:hover {
          box-shadow: 0 5px 5px blue;
          transform: translateY(-3px);
          transition: all 0.2s ease-in-out;
        }

        @apply relative  text-center rounded-xl;
      }

      @apply relative mt-14 flex flex-wrap justify-center items-center;
    }

    @apply relative text-right;
  }

  @apply relative h-full w-full;
}

@media (width <= 700px) {
  .Add {
    .content {
      .title {
        h1 {
          font-size: 28px;
          line-height: 1;

          span {
            font-size: 28px;
            line-height: 1;

            @apply uppercase text-primary font-black;
          }

          @apply uppercase text-black font-black;
        }

        @apply relative text-right;
      }
    }
  }
}
