.Add {
	@apply relative h-full w-full;
	.content {
		@apply relative text-right;
		h1 {
			@apply uppercase text-black font-black;
			font-size: 48px;
			line-height: 1;
			span {
				@apply text-primary uppercase font-black;
				font-size: 48px;
				line-height: 1;
			}
		}
		.gallery {
			@apply relative mt-14 flex flex-wrap justify-center items-center;
			.item {
				@apply relative  text-center rounded-xl;
				margin-right: 40px;
				padding: 12px;
				h4 {
					@apply font-bold;
					font-size: 16px;
					width: 112px;
					margin: 0 auto;
				}
				.image {
					@apply relative;
					height: 176px;
					width: 176px;
					margin: 10px auto;
				}
				&:last-child {
					margin-right: 0;
				}
				&:hover {
					transition: all 0.2s ease-in-out;
					transform: translateY(-3px);
					box-shadow: 0px 5px 5px blue;
				}
			}
		}
	}
}
