.wrapper {
  .IconContainer {
    border-radius: 50%;
    animation: at-ripple 0.6s linear infinite;

    .CountMessage {
      border-radius: 50%;
      width: 20px;
      height: 20px;
      background-color: red;

      @apply absolute top-0 flex items-center justify-center right-0;
    }

    span {
      font-weight: 900;
      font-size: 12px;

      @apply text-white;
    }

    svg {
      font-size: 48px;

      &:hover {
        transform: scale(1.05);
      }

      @apply fill-white  cursor-pointer;
    }

    @apply flex relative items-center mr-4;
  }

  .content {
    h3 {
      max-width: 448px;
      font-weight: 900;
      font-size: 30px;
      text-shadow: 3px 3px 1px rgb(0 0 0 / 25%);

      @apply text-white;
    }

    .title {
      h2 {
        font-weight: 700;
        font-size: 24px;
        line-height: 21px;

        @apply text-white mr-1;
      }

      @apply flex items-center;
    }

    span {
      font-size: 24px;

      @apply font-thin text-white;
    }

    a {
      font-size: 20px;

      @apply text-gray-300 text-link;
    }

    @apply block text-left;
  }

  @apply flex items-start mt-32;

  @keyframes at-ripple {
    0% {
      box-shadow: 0 4px 10px rgb(0 0 255 / 10%), 0 0 0 0 rgb(0 0 255 / 10%),
        0 0 0 5px rgb(0 0 255 / 10%), 0 0 0 10px rgb(0 0 255 / 10%);
    }

    100% {
      box-shadow: 0 4px 10px rgb(0 0 255 / 10%),
        0 0 0 5px rgb(0 0 255 / 10%), 0 0 0 10px rgb(0 0 255 / 10%),
        0 0 0 20px rgb(0 0 255 / 0%);
    }
  }
}

@media (width <= 830px) {
  .wrapper {
    .content {
      h3 {
        max-width: 348px;
        font-size: 20px;
      }

      .title {
        h2 {
          font-size: 15px;
        }
      }

      span {
        font-size: 15px;
      }

      a {
        font-size: 15px;
      }
    }
  }
}

.root {
  overflow: hidden;

  .wrapper {
    overflow: hidden;

    .title {
      h1 {
        font-size: 48px;
        line-height: 1;

        span {
          font-size: 48px;
          line-height: 1;

          @apply uppercase text-primary font-black;
        }

        @apply uppercase text-black font-black;
      }

      @apply relative text-right;
    }

    .swiper {
      padding: 24px;

      .button {
        @apply btn-primary cursor-pointer mt-7;
      }

      .slide {
        border: 1px solid #a0a0a0;
        border-radius: 12px;
        width: 500px;
        height: 522px;
        box-shadow: -4px 4px 4px rgb(0 0 0 / 46%);
        background-color: #fbfafa;
        transition: all 0.2s ease-in-out;

        .imageContainer {
          position: relative;
          overflow: hidden;
          border-radius: 6px;
          width: 100%;
          height: 50%;
          aspect-ratio: 8 / 5;

          .image {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .content {
          .user {
            left: 0;
            top: 45%;
            border-radius: 12px;
            box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
            background-color: #fbfafa;

            .box {
              padding: 16px;

              p {
                font-size: 16px;

                @apply text-black  font-semibold;
              }

              svg {
                margin-right: 10px;
                font-size: 24px;
              }

              @apply flex items-center;
            }

            .eye {
              svg {
                fill: blue;
              }
            }

            @apply absolute flex-center-between w-auto;
          }

          .info {
            h1 {
              font-size: 20px;

              @apply uppercase text-black font-extrabold;
            }

            p {
              font-size: 15px;

              @apply mt-7;
            }

            @apply block text-left   mt-7 p-3;
          }
        }

        &:hover {
          box-shadow: -4px 4px 4px rgb(0 0 0 / 63.7%);

          .content {
            .user {
              box-shadow: none;
              transition: all 0.2s ease-in-out;
            }
          }
        }

        @apply mb-6 overflow-hidden relative cursor-pointer;
      }

      @apply relative w-full  mt-10;
    }

    @apply block relative w-full z-1 h-full;
  }

  @apply relative h-screen w-full z-1;
}

@media (width <= 500px) {
  .root {
    .wrapper {
      .title {
        h1 {
          font-size: 38px;

          span {
            font-size: 38px;
          }
        }
      }

      .swiper {
        .slide {
          .imageContainer {
            height: 45%;
          }

          .content {
            .user {
              top: 41%;

              .box {
                padding: 10px;

                p {
                  font-size: 10px;
                }

                svg {
                  margin-right: 2px;
                  font-size: 15px;
                }
              }

              .eye {
                svg {
                  font-size: 24px;
                }
              }
            }

            .info {
              h1 {
                font-size: 17px;

                @apply uppercase text-black font-extrabold;
              }

              p {
                font-size: 13px;

                @apply mt-7;
              }
            }
          }
        }
      }
    }
  }
}
