.root {
	@apply relative w-full;
	.wrapper {
		@apply relative w-full h-full;
		padding: 50px 10%;
		.settings {
			@apply flex items-center mt-10;
		}
		.top {
			@apply flex-center-between;
			.title {
				@apply relative text-left;
				h1 {
					@apply uppercase text-black font-bold;
					font-size: 48px;
					line-height: 1;
					span {
						@apply uppercase text-primary font-black;
						font-size: 48px;
						line-height: 1;
					}
				}
			}
		}
		.center {
			@apply w-full flex items-center justify-center mt-5;
		}
		.error {
			@apply block text-center;
			h1 {
				@apply font-bold;
				font-size: 30px;
				line-height: 36px;
			}
			p {
				@apply mt-3;
				font-size: 20px;
			}
			img {
				margin: 0 auto;
			}
		}
		.container {
			@apply mt-11;
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(413px, 1fr));
			grid-column-gap: 10px;
			.item {
				@apply relative border-gray-300 border  cursor-pointer text-center mb-7;
				transition: all 0.2s ease-in-out;
				border-radius: 10px;
				width: 400px;
				height: 550px;
				background-color: rgb(252, 252, 252);
				box-shadow: -3px 5px 0px #0000ff;
				&:hover {
					transform: scale(1.01);
					box-shadow: -4px 7px 0px #0000ff;
				}
				.content {
					@apply relative w-full px-5 pb-7 z-1 text-left;
					h2 {
						@apply text-black  font-black my-2;
						font-size: 20px;
					}
					p {
						@apply text-gray-600 font-normal;
						font-size: 14px;
						width: 280px;
					}
					.box {
						@apply mt-3;

						h3 {
							@apply text-gray-700  font-bold;
							font-size: 16px;
						}
						.levelContainer {
							@apply relative bg-gray-300 rounded-2xl;
							width: 208px;
							height: 16px;
							.level {
								@apply h-full w-0  rounded-2xl bg-primary;
								&.one {
									@apply w-1/4;
								}
								&.two {
									@apply w-1/3;
								}
								&.three {
									@apply w-1/2;
								}
								&.four {
									width: 98%;
								}
							}
						}
					}
				}
				.topFlex {
					@apply flex items-center z-1;
					height: 240px;
					border-radius: 10px;
					.image {
						@apply relative h-full;
						border-radius: 10px;
						width: 210px;
					}
				}
				.imageContainer {
					@apply z-1 flex w-full items-center  justify-center relative;
					padding: 40px;
					height: 240px;
					.image {
						@apply relative w-full h-full;
						img {
							border-radius: 10px;
							box-shadow: 0px 2px 5px black;
						}
					}
				}
				.brand {
					@apply absolute z-2 flex items-center justify-center  top-0 left-0 bg-white;
					padding: 8px;
					width: 100px;
					height: 40px;
					border-radius: 10px 0px 10px 0px;
					box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.56);
					&.big {
						height: 70px;
					}
				}
				.rating {
					@apply absolute  z-2 flex items-center mb-2;
					top: 8px;
					right: 20px;
					> svg {
						@apply fill-yellow-700 mr-2 text-2xl;
						font-size: 24px;
					}

					> span {
						@apply text-black font-bold pt-0.5;
						font-size: 16px;
					}
				}
				.cart {
					@apply absolute block  z-2;
					bottom: 20px;
					right: 20px;
					.productFunctions {
						@apply flex items-center;
						.button {
							@apply bg-gray-300;
							padding: 8px;
							border-radius: 50%;
							transition: all 0.2s ease-in-out;
							svg {
								@apply fill-primary;
								height: 24px;
								width: 24px;
							}
							&:hover {
								@apply bg-primary;
								transition: all 0.2s ease-in-out;
								svg {
									@apply fill-white;
								}
							}
							&:active {
								transition: all 0.2s ease-in-out;
								transform: translateY(3px);
								background-color: rgb(4, 14, 163);
							}
						}
					}
					.cartAdd {
						@apply relative flex justify-end mt-2;
						.btn {
							@apply relative  flex items-center  bg-gray-100 rounded-full;
							padding: 8px 12px;
							span {
								@apply text-black font-bold mr-1;
								font-size: 14px;
							}

							&:hover {
								span {
									transition: all 0.3s ease-in-out;
									@apply text-white;
									transform: translateX(7px);
								}
								transition: all 0.3s ease-in-out;
								@apply bg-primary;
								svg {
									transition: all 0.2s ease-in-out;
									transform: translateX(7px);
								}
							}
						}
					}
				}
				.horizontal {
					@apply absolute top-14 right-3 z-2 text-center;
					top: 56px;
					right: 12px;
					.box {
						@apply relative text-center mb-3;
						.circle {
							@apply flex items-center justify-center;
							padding: 8px;
							width: 60px;
							border-radius: 50%;
							height: 60px;
							margin: 0 auto;

							h5 {
								@apply uppercase text-white font-black;
								font-size: 36px;
							}
							.blockText {
								@apply flex;
								height: 28px;
								h6 {
									@apply text-white  text-center  font-black;
									font-size: 20px;
								}
								span {
									@apply text-white font-semibold;
									font-size: 12px;
								}
							}

							&.blue {
								background: linear-gradient(180deg, #0000ff 0%, #0303b4 100%);
							}
							&.blueGradient {
								background: linear-gradient(
									304.23deg,
									#0000ff 14.88%,
									#000003 85.26%
								);
							}
							&.blackGradient {
								background: linear-gradient(
									131.59deg,
									#000000 12.11%,
									#2e2e2e 82.36%
								);
							}
						}
						h3 {
							@apply text-black  font-medium;
							font-size: 16px;
						}
					}
				}
			}
		}
	}
}
