@import "../../../assets/styles/variables";

.slider {
  border-radius: 30px;
  max-width: 1200px;

  .slide {
    @include fade-bg-gradient;

    border-radius: 30px;
    height: 45vh;

    h1 {
      left: 32px;
      top: 32px;
      font-size: 12px;

      @apply text-white absolute  font-bold z-2;
    }

    .image {
      border-radius: 30px;

      @apply image-like-bg;
    }

    .content {
      padding: 32px;

      .heading {
        font-size: 48px;

        @apply text-white uppercase  font-bold mb-1 text-shadow;
      }

      .subHeading {
        max-width: 512px;
        font-size: 14px;

        @apply text-gray-100 font-medium  uppercase  mb-4 text-shadow;
      }

      .button {
        padding: 8px 40px;

        @apply btn-primary;
      }

      @apply relative z-2;
    }

    @apply relative shadow-xl flex items-end bg-transparent;
  }

  @apply relative mx-auto mt-24 bg-transparent;
}

@media (width <= 800px) {
  .slider {
    .slide {
      height: 60vh;

      .content {
        padding: 32px;

        .heading {
          font-size: 38px;
        }

        .subHeading {
          max-width: 300px;
          font-size: 12px;

          @apply text-gray-100 font-medium  uppercase  mb-4 text-shadow;
        }

        .button {
          padding: 8px 40px;

          @apply btn-primary;
        }
      }
    }
  }
}

@media (width <= 600px) {
  .slider {
    .slide {
      height: 50vh;

      .content {
        padding: 10px;

        .heading {
          font-size: 28px;
        }

        .subHeading {
          max-width: 300px;
          font-size: 10px;

          @apply text-gray-100 font-medium  uppercase  mb-16 text-shadow;
        }

        .button {
          padding: 8px 40px;

          @apply btn-primary;
        }
      }
    }
  }
}
