.root {
	padding-right: 30px;
	@apply relative flex-center-between;
}

.input {
	border: 1px solid lightgray;
	padding: 12px 20px;
	padding-left: 45px;
	width: 200px;
	color: lightgray;
	border-radius: 30px;
	font-weight: 400;
	font-size: 16px;
	transition: all 0.4s ease-in-out;
	&:focus {
		border: 1px solid blue;
		color: black;
		font-weight: 500;
		width: 300px;
	}
	@media (max-width: 1250px) {
		width: 250px;
	}
}
.icon {
	width: 24px;
	height: 24px;
	opacity: 0.2;
	position: absolute;
	left: 14px;
	top: 12px;
}

.clear {
	width: 18px;
	height: 18px;
	position: absolute;
	right: 50px;
	top: 15px;
	cursor: pointer;
	&:hover {
		fill: red;
	}
}
