.About {
	@apply flex-center-between  bg-black;
	overflow: hidden;
	padding-top: 100px;
	margin: 0;
	.Cards {
		display: grid;
		z-index: 2;
		gap: 20px 20px;
		grid-template-areas:
			'a .'
			'a c'
			'b c'
			'b d';
		.box {
			@apply relative rounded-xl;
			box-shadow: 0px 10px 15px rgba(0, 0, 255, 0.589);
			img {
				border-radius: 10px;
			}
			height: 351px;
			width: 266px;
			div {
				@apply flex items-center justify-center bg-white absolute -bottom-4;
				width: 40px;
				height: 40px;
				right: 40%;
				border-radius: 50%;
				svg {
					@apply fill-primary;
					font-size: 36px;
					opacity: 0.8;
				}
			}
		}
		.box:nth-child(1) {
			grid-area: a;
		}
		.box:nth-child(2) {
			grid-area: b;
		}
		.box:nth-child(3) {
			grid-area: c;
		}
		.box:nth-child(4) {
			grid-area: d;
		}
	}
	.content {
		@apply block text-left;
		.btn {
			@apply mt-14;
			.button {
				@apply flex items-center justify-evenly  bg-primary text-white font-normal;
				font-size: 20px;
				padding: 16px 20px;
				border-radius: 40px;

				width: 250px;
				transition: all 0.15s ease-in-out;
				filter: drop-shadow(0px 9px 13px #0000ff88);
				span {
					@apply text-white;
				}
				svg {
					font-size: 24px;
				}
				&:hover {
					filter: drop-shadow(0px 13px 15px #0000ffa4);
				}
				&:active {
					background-color: darken(#0000ff, 5%);
					transform: translateY(1px);
				}
			}
		}
		p {
			font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
			@apply text-white font-thin mt-7;
			font-size: 20px;
			max-width: 700px;
			span {
				font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
				@apply text-white font-black;
				font-size: 24px;
			}
		}
		.title {
			@apply relative z-2;
			h1 {
				@apply text-white font-black z-2;
				font-size: 48px;
				line-height: 1;
				span {
					@apply text-primary font-black;
					font-size: 48px;
				}
			}
			.leftAbsolute {
				@apply absolute z-1;
				top: 48px;
				left: -144px;
				h3 {
					@apply text-black font-black;
					text-shadow: 1px 1px 10px #0000ff;
					line-height: 1;
					font-size: 48px;
				}
			}
			.rightAbsolute1 {
				@apply absolute   z-1;
				top: 48px;
				right: -384px;
				h3 {
					@apply text-black font-black;
					text-shadow: 1px 1px 10px #0000ff;
					line-height: 1;
					font-size: 48px;
				}
			}
			.rightAbsolute2 {
				@apply absolute  z-1;
				top: 48px;
				right: -950px;
				h3 {
					@apply text-black font-black;
					font-size: 48px;
					line-height: 1;
					text-shadow: 1px 1px 10px #0000ff;
				}
			}
		}

		.iconContainer {
			@apply flex items-center justify-start mt-7;
			.box {
				@apply mr-10;
				padding: 4px 28px;
				border: 1px solid white;
				border-radius: 20px;
				svg {
					@apply fill-white;
					font-size: 40px;
				}
			}
		}
	}
}
.root {
	@apply relative w-full;
	height: 100vh;
	.container {
		@apply relative w-full flex justify-between items-start;
		img {
			margin-right: 20px;
		}
		margin-top: 180px;
		.content {
			@apply text-left;
			max-width: 800px;
			.title {
				@apply relative text-left mb-8;
				h1 {
					@apply uppercase text-black font-black mb-10;
					font-size: 48px;
					line-height: 1;
					span {
						@apply text-primary uppercase font-black;
						font-size: 48px;
						line-height: 1;
					}
				}
				h5 {
					@apply text-gray-900 text-left font-bold;
					font-size: 20px;
				}
			}

			.gridboxes {
				@apply mt-16;
				display: grid;
				gap: 10px 10px;

				grid-template-areas:
					'. .'
					'. .';
				.box {
					@apply relative  p-2 text-left;
					h1 {
						@apply text-primary font-black uppercase mb-2;
						font-size: 48px;
						line-height: 1;
					}
					.text {
						@apply relative p-2 text-left  bg-gray-900;
						border-radius: 10px;
						span {
							@apply text-white  font-bold;
							font-size: 24px;
							line-height: 32px;
						}
					}
					p {
						@apply font-medium text-lg mt-2 text-gray-600;
					}
				}
			}
		}
	}
}
@media (max-width: 1500px) {
	.root {
		.container {
			display: block;
			img {
				display: none;
			}
			.content {
				max-width: 100%;
				margin-bottom: 20px;
			}
		}
	}
}
@media (max-width: 500px) {
	.root {
		.container {
			display: block;
			img {
				display: none;
			}
			.content {
				max-width: 100%;
				margin-bottom: 20px;
				.title {
					@apply relative text-left mb-8;
					h1 {
						@apply uppercase text-black font-black mb-10;
						font-size: 38px;
						line-height: 1;
						span {
							@apply text-primary uppercase font-black;
							font-size: 38px;
							line-height: 1;
						}
					}
					h5 {
						@apply text-gray-900 text-left font-bold;
						font-size: 15px;
					}
				}
				.gridboxes {
					@apply mt-16;
					display: grid;
					gap: 10px 10px;

					grid-template-areas:
						'. '
						'. '
						'. '
						'. ';
				}
			}
		}
	}
}

@media (max-width: 1600px) {
	.About {
		@apply block  bg-black;
		.Cards {
			margin-top: 50px;
			z-index: 2;
			display: flex;
			flex-wrap: wrap;
			align-items: stretch;
			justify-content: space-evenly;

			.box {
				box-shadow: 0px 10px 15px rgba(0, 0, 255, 0.589);
				height: 372px;
				width: 266px;
			}
		}
		.content {
			p {
				max-width: 1600px;
			}
			.title {
				.leftAbsolute {
				}
				.rightAbsolute1 {
					right: 10%;
				}
				.rightAbsolute2 {
					right: -35%;
				}
			}
		}
	}
}
@media (max-width: 1500px) {
	.About {
		.content {
			.title {
				.leftAbsolute {
					display: none;
				}
				.rightAbsolute1 {
					display: none;
				}
				.rightAbsolute2 {
					display: none;
				}
			}
		}
	}
}
@media (max-width: 623px) {
	.About {
		.content {
			p {
				font-size: 17px;
				span {
					font-size: 20px;
				}
			}
			.title {
				h1 {
					font-size: 38px;
					span {
						@apply text-primary font-black;
						font-size: 38px;
					}
				}
			}
			.iconContainer {
				.box {
					@apply mr-2;
					padding: 4px 20px;
					border: 1px solid white;
					border-radius: 20px;
					svg {
						@apply fill-white;
						font-size: 25px;
					}
				}
			}
		}
		.Cards {
			align-items: center;
			justify-content: center;
			.box {
				height: 300px;
				width: 100%;
			}
		}
	}
}
