.root {
  margin-top: 30px;

  li {
    display: inline-block;
    margin-top: 30px;

    a {
      display: inline-block;
      margin-left: 10px;
      border: 2px solid blue;
      border-radius: 30px;
      width: 45px;
      height: 45px;
      font-weight: 600;
      font-size: 20px;
      line-height: 42px;
      text-align: center;
      color: blue;
      cursor: pointer;

      &:hover {
        color: white;
        background-color: blue;
      }
    }
  }

  /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
  :global(.selected) {
    a {
      color: white;
      background-color: blue;
    }
  }
}
