.root {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 130vh;
  background-image: url("../../../assets/images/Backgrounds/footerBg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  img {
    @apply absolute -z-1;
  }

  .clouds {
    pointer-events: none;
    transform: rotate(180deg);

    .cloud {
      --i: "1";

      height: auto;
      animation: animate calc(3s * var(--i)) linear infinite;

      @apply absolute w-full bottom-0;
    }

    @apply absolute bottom-0 left-0 h-full w-full overflow-hidden;
  }

  .wrapper {
    border-radius: 10px 10px 0 0;
    height: 1000px;

    .footer {
      border-radius: 10px 10px 0 0;
      box-shadow: inset 0 -10px 24px #000;
      background: rgb(254 253 253 / 1%);
      backdrop-filter: blur(15px);

      h2 {
        font-size: 14px;

        @apply text-white  font-light;
      }

      a {
        @apply text-link text-yellow-700;
      }

      @apply absolute flex justify-between items-center bottom-0 w-full px-5 py-2;
    }

    .contact {
      left: 10%;
      top: 60%;
      border-radius: 10px;
      width: 420px;
      height: 320px;
      box-shadow: -4px 4px 4px rgb(0 0 0 / 46%);
      background: white;
      backdrop-filter: blur(3px);

      h1 {
        font-size: 36px;

        @apply text-black mb-5  uppercase  font-black;
      }

      .item {
        svg {
          font-size: 20px;

          @apply fill-primary  mr-4;
        }

        a {
          font-size: 20px;

          @apply text-link  text-black;
        }

        @apply flex mb-4 items-center;
      }

      h2 {
        font-size: 20px;

        @apply text-black mb-3  uppercase  font-bold;
      }

      @apply absolute px-5 py-5 z-3;
    }

    .loadContent {
      border-radius: 10px;
      height: 70%;
      box-shadow: inset 0 -10px 24px #000;
      background: rgb(254 253 253 / 1%);
      backdrop-filter: blur(15px);

      iframe {
        border-radius: 10px;
        padding: 10px;
      }

      @apply relative w-full;
    }

    @apply relative  w-full;
  }

  .MapContainer {
    z-index: 1;

    .address {
      svg {
        font-size: 16px;

        @apply fill-primary mr-2 text-center;
      }

      @apply relative flex items-center;
    }

    @apply absolute w-full h-full bottom-0;
  }

  @apply relative  z-1 w-full ;

  @keyframes animate {
    0% {
      opacity: 0;
      transform: scale(1);
    }

    25% {
      opacity: 1;
    }

    75% {
      opacity: 1;
    }

    100% {
      transform: scale(3);
    }
  }
}

@media (width <= 1150px) {
  .root {
    .wrapper {
      .footer {
        h2 {
          font-size: 12px;
        }

        a {
          font-size: 12px;
        }

        @apply px-3 py-1;
      }

      .loadContent {
        display: block;

        .contact {
          width: 380px;
          height: 280px;

          h1 {
            font-size: 26px;
          }

          .item {
            svg {
              font-size: 15px;

              @apply fill-primary  mr-4;
            }

            a {
              font-size: 15px;

              @apply text-link  text-black;
            }
          }

          h2 {
            font-size: 15px;

            @apply text-black mb-3  uppercase  font-bold;
          }

          p {
            font-size: 13px;
          }
        }
      }
    }
  }
}

@media (width <= 700px) {
  .root {
    .wrapper {
      .footer {
        @apply block text-center;
      }

      .loadContent {
        display: block;

        .contact {
          width: 380px;
          height: 280px;

          h1 {
            font-size: 26px;
          }

          .item {
            svg {
              font-size: 15px;

              @apply fill-primary  mr-4;
            }

            a {
              font-size: 15px;

              @apply text-link  text-black;
            }
          }

          h2 {
            font-size: 15px;

            @apply text-black mb-3  uppercase  font-bold;
          }

          p {
            font-size: 13px;
          }
        }
      }
    }
  }
}

@media (width <= 600px) {
  .root {
    padding: 0;
    background-position: left;

    .wrapper {
      height: 750px;

      .footer {
        @apply block text-center;
      }

      .loadContent {
        display: block;
        height: 50%;

        .contact {
          left: 5%;
          top: 80%;
          width: 280px;
          height: 280px;

          h1 {
            font-size: 26px;

            @apply text-black mb-1  uppercase  font-black;
          }

          .item {
            svg {
              font-size: 15px;

              @apply fill-primary  mr-4;
            }

            a {
              font-size: 15px;

              @apply text-link  text-black;
            }
          }

          h2 {
            font-size: 15px;

            @apply text-black mb-1  uppercase  font-bold;
          }

          p {
            font-size: 13px;
          }
        }
      }
    }
  }
}
